rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    /*********************************************************************
     *                                                                   *
     *                      HELPER FUNCTIONS                             *
     *                                                                   *
     *********************************************************************/

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }
    
    function getRole() {
      return getUserData(request.auth.uid).role;
    }

    function isAdmin() {
      return isSignedIn() && getRole() == 'admin';
    }
    
    function isDriver() {
      return isSignedIn() && getRole() == 'driver';
    }
    
    function isCustomer() {
      return isSignedIn() && getRole() == 'customer';
    }

    /*********************************************************************
     *                                                                   *
     *                        TOP-LEVEL COLLECTIONS                      *
     *                                                                   *
     *********************************************************************/

    match /products/{productId} {
      allow read: if true;
      allow create: if (isSignedIn() && !exists(/databases/$(database)/documents/products/$(productId))) || isAdmin();
      allow update, delete: if isAdmin();
    }
    
    match /users/{userId} {
      allow get: if isSignedIn();
      allow list: if isAdmin();
      allow create: if isOwner(userId); // A user can create their own user document
      allow update: if isOwner(userId) && request.resource.data.role == resource.data.role; // User can update profile, but not their role
      allow update: if isAdmin(); // Admin can update anything, including the role
      allow delete: if isAdmin();
    }
    
    match /users/{userId}/orders/{orderId} {
        allow get, list, create, update, delete: if isOwner(userId) || isAdmin();
    }
    
    match /users/{userId}/orders/{orderId} {
        allow get: if isDriver() && get(/databases/$(database)/documents/users/$(userId)/orders/$(orderId)).data.driverId == request.auth.uid;
    }
    
    // This allows an admin to query the 'orders' collection group
    match /{path=**}/orders/{orderId} {
        allow get, list: if isAdmin();
    }

    // Driver specific collections can be added here if needed in the future
    match /drivers/{driverId} {
      allow read, write: if isOwner(driverId) || isAdmin();
    }
  }
}

    